<div class="login-page">
  <h1 class="title">Log in</h1>
  <div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'register-form') do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"  %>
    <%= f.password_field :password, autocomplete: "current-password", placeholde: "Password"  %>
    <%= f.submit "Log in", class: "submit-btn" %>
  <% end %>
  </div>
</div>